body {
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 15em;
}

h1 {
  font-size: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

#status {
  margin-top: 10px;
}
.d-flex {
  display: flex;
}
.jc-between {
  justify-content: space-between;
}
